

<!-- Страница определяет форму создания и правки экземпляра модуля. -->
<!-- Используется в /course/mod.php.  Весь экземпляр доступен как $form. -->
<!-- Отображает заголовок, список задач со ссылками на форму редактирования, -->
<!-- форму добавления задачи и некоторые дополнительные опции. -->
<?php
//print_r($usehtmleditor);
/// First we check that form variables have been initialised
if (!isset($form->name)) {
    $form->name = '';
}
// More similar blocks go here...
?>

<form name="form" method="post" action="mod.php">
<center>
<table cellpadding="5">
<tr valign="top">
    <td align="right"><b><?php  print_string("name") ?>:</b></td>
    <td>
        <input type="text" name="name" size="30" value="<?php  p($form->name) ?>">
    </td>
</tr>
<!-- More rows go in here... -->
<?php
	include_once("../mod/$module->name/lib.php");
	if ($form->instance){
		contester_show_problemlist($form->instance);
		contester_show_problemadd();
	}
?>
<tr valign="top">
    <td align="right"><b><?php print_string("description", "contester") ?>:</b>
     <br /><br />
     <?php
        helpbutton("writing", get_string("helpwriting"), "moodle", true, true);
        echo "<br />";
        helpbutton("questions", get_string("helpquestions"), "moodle", true, true);
        echo "<br />";
        if ($usehtmleditor) {
           helpbutton("richtext", get_string("helprichtext"), "moodle", true, true);
        } else {
           emoticonhelpbutton("form", "description");
        }
      ?>
    </td>
    <td>
    <?php

    	//print_r($form->description);
       print_textarea($usehtmleditor, 20, 60, 680, 400, "description", $form->description);

       if ($usehtmleditor) {
           echo '<input type="hidden" name="format" value="'.FORMAT_HTML.'" />';
       } else {
           echo '<div align="right">';
           helpbutton("textformat", get_string("formattexttype"));
           print_string("formattexttype");
           echo ':&nbsp;';
           if (!$form->format) {
               $form->format = $defaultformat;
           }
           choose_from_menu(format_text_menu(), "format", $form->format, "");
           echo '</div>';
       }
    ?>
    </td>
</tr>
<tr><td></td>
<td>
	<?php
		echo "<p>";
		print_checkbox('freeview', 1, get_field('contester', 'freeview', 'id', $form->instance), get_string('viewable', 'contester'));
		echo "<br />";
		$val = get_field('contester', 'viewown', 'id', $form->instance);
		if ($add == 'contester') $val = true;
		print_checkbox('viewown', 1, $val, get_string('viewown', 'contester'));
		echo "</p>";

		// права проверятся перед выводом (учитель этого курса или админ)
		if ($add != 'contester')
			contester_print_link_to_problems_preview($form->instance);

		if (isadmin()) {
			echo '<p>';
			contester_print_link_to_upload();
			echo '</p>';
		}
	?>
</td>
</tr>
<!-- The following line for Moodle 1.5 prints the visibility setting form element -->
<?php print_visible_setting($form); ?>
<!-- and if your module uses groups you would also have -->
<?php print_groupmode_setting($form); ?>

</table>
<!-- These hidden variables are always the same -->
<input type="hidden" name="course"        value="<?php  p($form->course) ?>" />
<input type="hidden" name="sesskey"     value="<?php  p($form->sesskey) ?>" />
<input type="hidden" name=coursemodule  value="<?php  p($form->coursemodule) ?>" />
<input type="hidden" name=section       value="<?php  p($form->section) ?>" />
<input type="hidden" name=module        value="<?php  p($form->module) ?>" />
<input type="hidden" name=modulename    value="<?php  p($form->modulename) ?>" />
<input type="hidden" name=instance      value="<?php  p($form->instance) ?>" />
<input type="hidden" name=mode          value="<?php  p($form->mode) ?>" />
<input type="submit" value="<?php  print_string("savechanges") ?>" />
</center>

</form>
